/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    transition: 0.3s;
}
section.active {
    background-color: rgba(0, 0, 0, 0.3);
}
#up {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000); 
    z-index: 100;
    padding: 6px 10px;
    position: fixed;
    bottom: 10px;
    right: -70px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
}
#up.active {
    right: 10px;
}
/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
    display: flex;
}
.navbar__menu h3 {
    color: black;
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.navbar__menu .toggle-menu {
    display: none;
}
/* media for toggle menu button */
@media (max-width: 768px) {
    .navbar__menu {
        padding: 0;
    }
    .navbar__menu #navbar__list {
        position: absolute;
        background-color: white;
        width: 100%;
        top: -200px;
        /* top: 63px; */
        display: flex;
        justify-content: space-between;
        transition: 0.3s;
    }
    .navbar__menu #navbar__list.active {
        top: 63px;
    }
    .navbar__menu .menu__link {
        width: 100%;
        text-align: center;
    }
    .navbar__menu .toggle-menu {
        display: block;
        cursor: pointer;
        padding: 1em;
    }
    .navbar__menu .toggle-menu div{
        width: 30px;
        height: 5px;
        margin: 4px 0;
        background-color: black;
    }
}
.navbar__menu .menu__link.active {
    background: #333;
    color: #fff;
}
.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}
